snippet mail "get my email" b
tsirif@gmail.com${0}
endsnippet

snippet me "get my name"
Christos Tsirigotis${0}
endsnippet

snippet sign "get my personal info"
Christos Tsirigotis <tsirif@gmail.com>${0}
endsnippet
